a:link{
color: yellow;}
a:visited{
color: orange;
}
a:hover{
color: orange;
}
a:active{
color: orange;
}
.feature {
color: white;
}
.feature2 {
color: #d40225;
}
#content
{
color: red;
}
#content2
{
color: #ad0d05;
}
body
{ 
background-color: black; 
}
h1 
{
font-family: arial;
}
h3
{
font-family: helvetica;
color: #ad0d05;
}